---
import Layout from "../layouts/Layout.astro";
---

<Layout title="page not found" />
<div class="flex justify-center items-center h-screen font-bold flex-col">
  <br />prop hit sth wrong
  <br />
  <a href="/" class="border shadow-md py-1 px-2 rounded-lg m-2">Go Home</a>
</div>
